<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss} %-5p %C{1}.%M() %x - %m%n" />
        </layout>
    </appender>
    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="MaxFileSize" value="1000KB" />
        <param name="MaxBackupIndex" value="5" />
        <param name="File" value="iotrasp.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{dd/MM/yy HH:mm:ss}] %-5p %C{1}.%M() %m%n" />
        </layout>
    </appender>
    <logger name="fr.iotqvt.rasp.IotSynchroDbTask" additivity="false">
        <level value="info" />
        <appender-ref ref="FILE" />
    </logger>
    <logger name="fr.iotqvt.rasp.infra.websocket.WebsocketClient" additivity="false">
        <level value="debug" />
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="fr.iotqvt.rasp.Launcher" additivity="false">
        <level value="debug" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <root>
        <level value="warn" />
        <appender-ref ref="CONSOLE" />
    </root>
</log4j:configuration>